<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="imdbTestCases.TC1_CorrectPage()[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">TC1_CorrectPage</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="imdbTestCases.TC2_CheckCount(java.lang.String)[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">TC2_CheckCount</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="imdbTestCases.TC2_CheckCount(java.lang.String)[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">TC2_CheckCount</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="imdbTestCases.TC2_CheckCount(java.lang.String)[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">TC2_CheckCount</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="imdbTestCases.TC2_CheckCount(java.lang.String)[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">TC2_CheckCount</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="imdbTestCases.TC2_CheckCount(java.lang.String)[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">TC2_CheckCount</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="imdbTestCases.TC3_CheckCountinGenre(java.lang.String)[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">TC3_CheckCountinGenre</td> 
  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:32</td>   <td>348</td> <td>&nbsp;</td><td title="&lt;&lt;imdbTestCases.afterTest()[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>17/08/07 15:02:26</td>   <td>-5718</td> <td>&nbsp;</td><td title="&gt;&gt;imdbTestCases.beforeTest()[pri:0, instance:com.imdb.tests.imdbTestCases@7921b0a2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@221036634</td>   <td></td> </tr>
</table>
